@import 'fonts';

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;

	&,
	* {
		z-index: 10;
	}

	nav {
		background: transparent;
	}
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	background-color: black;
	position: relative;
}

main {
	padding: 0;
	position: relative;
	transition-property: top, left;
	transition-duration: 1000ms;
	transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);

	article {
		width: 100vw;
		height: 100vh;
		z-index: 5;
		color: white;
		padding: 10vw;

		scroll-snap-align: center;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		position: relative;

		h1 {
			font-family: $heading-font;
			font-size: 32px;
			text-shadow: 2px 2px 2px black;
		}

		h2 {
			font-weight: 400;
			text-shadow: 1px 1px 1px black;
		}

		.controls {
			position: absolute;
			bottom: 1em;
			right: 1em;

			display: grid;
			grid-template-columns: 3;
			grid-template-rows: 3;

			button {
				$arrow-size: 0.4em;
				padding: $arrow-size;
				margin: 0;
				outline: none;
				background: none;
				cursor: pointer;

				border: solid #dcdde1;
				border-width: 0 $arrow-size $arrow-size 0;
				border-radius: 0 0 12.5% 0;

				&:disabled {
					border-color: rgba(#dcdde1, 0.5);
					cursor: default;
				}

				&:hover:not(:disabled) {
					border-width: 0 ($arrow-size * 1.125) ($arrow-size * 1.125) 0;
					padding: $arrow-size * 1.25;
				}

				&.right {
					transform: rotate(-45deg);
					grid-column: 3 / 4;
					grid-row: 2 / 3;
				}
				&.left {
					transform: rotate(135deg);
					grid-column: 1 / 2;
					grid-row: 2 / 3;
				}
				&.up {
					transform: rotate(-135deg);
					grid-column: 2 / 3;
					grid-row: 1 / 2;
				}
				&.down {
					transform: rotate(45deg);
					grid-column: 2 / 3;
					grid-row: 3 / 4;
				}
			}
		}

		&#slide-1 {
			background-image: linear-gradient(
				right,
				rgba(#4cd137, 0.75),
				#192a56 65%
			);

			h1 {
				font-size: 128px;
			}
		}

		&#slide-2 {
			background-image: linear-gradient(left, rgba(#487eb0, 0.75), #192a56 65%);

			h1 {
				font-size: 64px;
			}
		}

		&#slide-2a {
			background-image: linear-gradient(
				right,
				rgba(#487eb0, 0.75),
				#192a56 65%
			);
			position: absolute;
			left: 100vw;
			top: 100vh;

			blockquote {
				font-style: italic;
				color: #dcdde1;
				margin-top: 1em;

				em {
					color: #f5f6fa;
					font-style: normal;
				}
			}
		}

		&#slide-2b {
			background-image: linear-gradient(left, rgba(#487eb0, 0.75), #192a56 65%);
			position: absolute;
			left: 200vw;
			top: 100vh;
		}
	}
}

// Tablet
@media all and (min-width: 700px) {
	main {
		article {
			&#slide-1 {
				h1 {
					font-size: 192px;
				}
			}
			&#slide-2 {
				h1 {
					font-size: 96px;
				}
			}

			.controls {
				bottom: 2em;
				right: 2em;

				button {
					$arrow-size: 0.625em;
					padding: $arrow-size;
					border-width: 0 $arrow-size $arrow-size 0;

					&:hover:not(:disabled) {
						border-width: 0 ($arrow-size * 1.125) ($arrow-size * 1.125) 0;
						padding: $arrow-size * 1.25;
					}
				}
			}
		}
	}
}

@media all and (min-width: 960px) {
	main {
		article {
			.controls {
				bottom: 3em;
				right: 3em;

				button {
					$arrow-size: .75em;
					padding: $arrow-size;
					border-width: 0 $arrow-size $arrow-size 0;

					&:hover:not(:disabled) {
						border-width: 0 ($arrow-size * 1.125) ($arrow-size * 1.125) 0;
						padding: $arrow-size * 1.25;
					}
				}
			}
		}
	}
}
