{% load static compress %}

{% compress css %}
	<link rel="stylesheet" href="{% static 'scss/header.scss' %}" defer type="text/x-scss" />
{% endcompress %}

<header>
	<nav>
        <a id="logo" href="/">VCS</a>
		<a id="nav-toggle" href="#"><span></span></a>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="#">Contact</a></li>
			{% if user.is_authenticated %}
				<li><a href="#">Transact</a></li>
                <li class="item button"><a href="/account">Account</a></li>
                <li class="item button secondary"><a href="/logout">Log Out</a></li>
            {% else %}
                <li class="item button"><a href="/login">Log In</a></li>
            {% endif %}
		</ul>
	</nav>

	<script>
		const toggle = document.querySelector('#nav-toggle')
		const menu = document.querySelector('header>nav')

		/* Event Listener */
		toggle.addEventListener('click', () => {
			/* Toggle mobile menu */
			menu.classList.toggle('active')
		}, false)
	</script>
</header>
