@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

header,
header * {
  z-index: 10;
}

header nav {
  background: transparent;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: black;
  position: relative;
}

main {
  padding: 0;
  position: relative;
  -webkit-transition-property: top, left;
  transition-property: top, left;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
          transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

main article {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  color: white;
  padding: 10vw;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

main article h1 {
  font-family: "Kiwi Maru", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
  text-shadow: 2px 2px 2px black;
}

main article h2 {
  font-weight: 400;
  text-shadow: 1px 1px 1px black;
}

main article .controls {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3;
      grid-template-columns: 3;
  -ms-grid-rows: 3;
      grid-template-rows: 3;
}

main article .controls button {
  padding: 0.4em;
  margin: 0;
  outline: none;
  background: none;
  cursor: pointer;
  border: solid #dcdde1;
  border-width: 0 0.4em 0.4em 0;
  border-radius: 0 0 12.5% 0;
}

main article .controls button:disabled {
  border-color: rgba(220, 221, 225, 0.5);
  cursor: default;
}

main article .controls button:hover:not(:disabled) {
  border-width: 0 0.45em 0.45em 0;
  padding: 0.5em;
}

main article .controls button.right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main article .controls button.left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main article .controls button.up {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

main article .controls button.down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

main article#slide-1 {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(76, 209, 55, 0.75)), color-stop(65%, #192a56));
  background-image: linear-gradient(right, rgba(76, 209, 55, 0.75), #192a56 65%);
}

main article#slide-1 h1 {
  font-size: 128px;
}

main article#slide-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(72, 126, 176, 0.75)), color-stop(65%, #192a56));
  background-image: linear-gradient(left, rgba(72, 126, 176, 0.75), #192a56 65%);
}

main article#slide-2 h1 {
  font-size: 64px;
}

main article#slide-2a {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(72, 126, 176, 0.75)), color-stop(65%, #192a56));
  background-image: linear-gradient(right, rgba(72, 126, 176, 0.75), #192a56 65%);
  position: absolute;
  left: 100vw;
  top: 100vh;
}

main article#slide-2a blockquote {
  font-style: italic;
  color: #dcdde1;
  margin-top: 1em;
  max-width: 80ch;
  line-height: 1.5rem;
}

main article#slide-2a blockquote a {
  color: #f5f6fa;
  font-style: normal;
  font-weight: 600;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0);
          text-decoration-color: rgba(0, 0, 0, 0);
}

main article#slide-2a blockquote a:hover {
  -webkit-text-decoration-color: #f5f6fa;
          text-decoration-color: #f5f6fa;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

main article#slide-2a cite {
  font-size: 1.5rem;
}

main article#slide-2a cite a {
  color: #f5f6fa;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0);
          text-decoration-color: rgba(0, 0, 0, 0);
}

main article#slide-2a cite a:hover {
  font-weight: 600;
  -webkit-text-decoration-color: #f5f6fa;
          text-decoration-color: #f5f6fa;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

main article#slide-2b {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(72, 126, 176, 0.75)), color-stop(65%, #192a56));
  background-image: linear-gradient(left, rgba(72, 126, 176, 0.75), #192a56 65%);
  position: absolute;
  left: 200vw;
  top: 100vh;
}

@media all and (min-width: 700px) {
  main article#slide-1 h1 {
    font-size: 192px;
  }
  main article#slide-2 h1 {
    font-size: 96px;
  }
  main article .controls {
    bottom: 2em;
    right: 2em;
  }
  main article .controls button {
    padding: 0.625em;
    border-width: 0 0.625em 0.625em 0;
  }
  main article .controls button:hover:not(:disabled) {
    border-width: 0 0.70312em 0.70312em 0;
    padding: 0.78125em;
  }
}

@media all and (min-width: 960px) {
  main article .controls {
    bottom: 3em;
    right: 3em;
  }
  main article .controls button {
    padding: 0.75em;
    border-width: 0 0.75em 0.75em 0;
  }
  main article .controls button:hover:not(:disabled) {
    border-width: 0 0.84375em 0.84375em 0;
    padding: 0.9375em;
  }
}
/*# sourceMappingURL=about.css.map */