@import './_fonts.scss';

@mixin centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

@mixin top-bottom-shadow(
	$h-offset,
	$v-offset,
	$blur: 0,
	$spread: 0,
	$color: black
) {
	box-shadow: $h-offset $v-offset $blur $spread $color,
		$h-offset (-$v-offset) $blur $spread $color;
}

body {
	background-color: #f5f6fa;
}

main {
	form {
		width: 100vw;
		padding: 40px;
		background: #2f3640;
		@include centered();
		@include top-bottom-shadow(
			0,
			5px,
			$blur: 15px,
			$spread: 2.5px,
			$color: #718093
		);

        label {
            display: none;
        }

		h1 {
			color: white;
			text-transform: uppercase;
			font-weight: 500;
			font-family: $heading-font;
			font-size: 2.5rem;
			padding-bottom: 0.75rem;
		}

		input {
			border: 0;
			background: none;
			display: block;
			margin: 20px auto;
			text-align: center;
			outline: none;
			color: white;
			border-radius: 24px;
			transition: 0.25s;

			&[type='text'],
			&[type='password'] {
				border: 2px solid #0097e6;
				padding: 14px 10px;
				width: 200px;

				&:hover {
					// width: 240px;
					border-color: rgba(#44bd32, 0.75);
				}

				&:focus {
					width: 280px;
					border-color: #4cd137;
				}
			}

			&[type='submit'] {
				border: 2px solid #4cd137;
				padding: 14px 40px;
				cursor: pointer;

				&:hover {
					background-color: #2ecc71;
				}
			}
		}
	}

	/* Tablet menu */
	@media all and (min-width: 700px) {
		form {
			width: 75vw;
			border-radius: 5vw;
			// box-shadow: none;

			h1 {
				font-size: 3rem;
			}

			input {
				font-size: 1.2rem;
				border-radius: 30px;
				margin: 30px auto;
			}
		}
	}

	/* Desktop menu */
	@media all and (min-width: 960px) {
		form {
			max-width: 750px;

			input {
				&[type='text'],
				&[type='password'] {
					&:hover {
						width: 325px;
					}

					&:focus {
						width: 550px !important;
					}
				}

                &[type='submit']:focus {
                    padding: 20px 50px;
                    border-radius: 36px;
                }
			}
		}
	}
}
